body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  gap: 20px;
  background-image: url(fotos/tumblr_f9459631fcb0de9517605a0d5fd5d430_4442f47a_400.gif);
  background-size: cover;
  background-repeat: no-repeat;
}

.button-container{
  display: flex;
  justify-content: space-between;
  width: 13%;	
  margin: 0 auto;
}

#speakText{
width: 60%;
height: 50px;
font-size: 15px;
background-color: black;
color: white;
box-sizing: border-box;
border-radius: 10px;
}

#playSound{
width: 60%;
height: 50px;
font-size: 15px;
background-color: black;
color: white;
box-sizing: border-box;
border-radius: 10px;
margin-bottom: 20px;
}

textarea {
  
  width: 60%; 
  height: 50px;
  font-size: 20px; 
  margin-bottom: 20px; 
  resize: none; 
  overflow: auto; 
  border-radius: 10px; 
}

#morseCodeOutput {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;
}